#home .homePage {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
}
#home .homePage2 {
  width: 30%;
}
#home .homepage .allPost {
  width: 65%;
  align-content: center;
}

#home .card {
  background-color: #fff;
  min-width:  400px;
  height: auto;
  border: 1px solid #e6e6e6;
  position: relative;
}

#home .card .postText h6 {
  font-size: 1.5rem;
  font-weight: bold;
}
#home .card .postText p {
  font-size: 1.2rem;
}


#home .card .commentInput {
  display: flex;
  align-items: center;
}
#home .card .commentInput img {
  width: 32px;
  padding: 9px 8px;
}
#home .card .commentInput form {
  padding-top: 10px;
  width: 100%;
}
#home .card .commentInput input {
  resize: none;
  border: none;
  margin: 16px;
  width: calc(100% - 88px);
  height: 18px;
  width: 70%;
}
#home .card .commentInput form button.sendComment {
  color: #666;
  border: none;
  padding: 8px;
  background-color: #fff;
  border-radius: 4px;
  margin-right: 1rem;
  float: right;
}
#home .card .commentInput input:focus {
  outline: none !important;
}
#home .card .postImage {
  width: 100%;
}
#home .card .username {
  padding: 16px;
  font-weight: 700;
  color: #262626;
  display: flex;
  align-items: center;
}
#home .card .username p {
  padding-left: 12px;
}
#home .card .username img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
#home .card .status {
  border-bottom: 1px solid #f2f2f2;
  padding: 16px;
}
#home .card .status b {
  color: #262626;
}
#home .card .status .likeComment {
  display: flex;
  height: 2.8rem;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: .3rem
}
#home .card .status .likeComment .like {
  display: flex;
  height: 100%;
  align-items: center;
  gap: .3rem;
}
#home .card .status .likeComment .comment {
  display: flex;
  height: 100%;
  align-items: center;
  gap: .3rem;
}
#home .card img.postImage {
  width: 100%;
  max-height: 500px;
}


#home .card  .comments {
  position: absolute;
  bottom: 55px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 3;
}

#home .card .topComment {
  opacity: .7;
  font-size: 13px;
}

#home .card .comments .comment-boxs {
  padding-top: 3rem;
  background-color: #efefef;
  min-height: 200px;
  max-height: 300px;
  overflow-y: scroll;
}

/* width */
#home .card .comments .comment-boxs::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#home .card .comments .comment-boxs::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#home .card .comments .comment-boxs::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#home .card .comments .comment-boxs::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#home .card  .close {
  position: absolute;
  text-align: right;
  padding: .3rem .5rem;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}

#home .card .comment-box {
  border-bottom: .2px solid #e6e6e6;
  padding-top: .7rem;
  display: flex;
}

#home .card .comment-box  b {
  font-size: .9rem;
}
#home .card .comment-box  span {
  font-size: .7rem;
}
#home .card .comment-box .avatar img {
  width: 40px;
}

@media (max-width: 768px) {
  #home .homePage {
    flex-direction: column;
  }
  #home .homePage2 {
    width: 100%;
  }
  #home .homepage .allPost {
    width: 100%
  }

}