@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  min-height: 90vh;
  background: rgb(83, 75, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.sign .container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}
.container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}
.container .user .formBx .form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}
.container .user .formBx .form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}
.container .user .formBx .form input[type="submit"] {
  max-width: 100px;
  background: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}
.container .user .formBx .form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
}
.container .user .formBx .form .signup span {
  font-weight: 600;
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
.container .signupBx {
  pointer-events: none;
}
.active .signupBx {
  pointer-events: initial;
}

.container .signupBx .formBx {
  left: 100%;
}
.active .signupBx .formBx {
  left: 0;
}
.container .signupBx .imgBx {
  left: -100%;
}
.active .signupBx .imgBx {
  left: 0;
}

.container .signinBx .formBx {
  left: 0;
}
.active .signinBx .formBx {
  left: 100%;
}
.container .signinBx .imgBx {
  left: 0;
}
.active .signinBx .imgBx {
  left: -100%;
}

.signupBx .containers {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;

}

.signupBx .images {
  opacity: 1;
  display: block;
  width: 30%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.signupBx .middles {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;

}

.signupBx .containers:hover .images {
  opacity: 0.3;
}

.signupBx .containers:hover .middles {
  opacity: 1;
}

.signupBx .texts {
  background-color: #04AA6D;
  color: white;
  font-size: 13px;
  padding: 10px 20px;
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }
  section .container .imgBx {
    display: none;
  }
  section .container .user .formBx {
    width: 100%;
  }
}

