@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

nav.navBg {
  color: red;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.brand-logo {
  font-family: 'Grand Hotel', cursive;
}
h2.mern-brend {
  font-family: 'Grand Hotel', cursive;

}
.card__auth {
  padding: 20px;
  max-width: 400px;
  text-align: center;
  margin: 4rem  auto;
}

.card__auth p.text-sign {
  font-weight: 600;
  margin: 2rem 0;
}


.profileMain {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  border-bottom: 1px solid #555;
}
.profileImg {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}
.infoProfile {
  display: flex;
  justify-content: space-around;
  width: 100%;

}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gallery .imgItem {
  max-width: 32%;
  margin-top: 10px;
}

.home__card {
  max-width: 500px;
  height: max-content;
  padding: 5px;
  margin: 30px auto;
}

.postCard {
  margin: 3rem auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.postCard  button.btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
}



