@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

nav.navBg {
  color: red;
}

.container {
  padding-top: 4rem;
  width: 85%;
  margin: 0 auto;
}

.brand-logo {
  font-family: 'Grand Hotel', cursive;
}
h2.mern-brend {
  font-family: 'Grand Hotel', cursive;

}
.card__auth {
  padding: 20px;
  max-width: 400px;
  text-align: center;
  margin: 4rem  auto;
}

.card__auth p.text-sign {
  font-weight: 600;
  margin: 2rem 0;
}


.profileMain {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  border-bottom: 1px solid #555;
}
.profileImg {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}
.infoProfile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 5px
}
.gallery {
  display: grid ;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.gallery .img-item {
  width: 100%;
  height: 250px;
  margin-top: 10px;
}

.gallery .img-item img {
  width: 100%;
  height: 100%;
}

.home__card {
  max-width: 500px;
  height: max-content;
  padding: 5px;
  margin: 30px auto;
}

.postCard {
  margin: 3rem auto;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.postCard  button.btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
}



button.btnFollow {
  background-color: #fff;
  color: #333;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid #333;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.modalS {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999999999;
}
.modalS__content {
  width: 50%;
  padding: 30px;
  background: #fff;
  margin: 100px auto;
}
.modalHeader {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalFooter {
  margin-top: 15px;
}
.profilename {
  display: flex;
  gap: 15px;
  align-items: center;
}